
<a asp-controller="Cart" asp-action="GetOrders" class="btn btn-secondary btn-lg btn-block">My Orders</a>
<a asp-controller="Account" asp-action="ResetPassword" class="btn btn-primary btn-lg btn-block">Reset Password</a>
<a asp-controller="Home" asp-action="Contacts" class="btn btn-secondary btn-lg btn-block">Support</a>